<ion-header class="listing-header">
  <ion-navbar>
<!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      <ion-title>Bookinst</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="listing-content">
  <ion-item-divider class="notifications-divider">Browse category</ion-item-divider>
  <ion-row class="grid-categories">
    <ion-col width-100 class="category-item" *ngFor="let category of categories">
      <background-image tappable class="category-heading" [src]="getUrl(category.img)" (tap)="goToFeed(category)">
        <ion-row class="heading-row">
          <ion-col no-padding width-100>
            <h2 class="category-title">{{category.name}}</h2>
          </ion-col>
        </ion-row>
      </background-image>
    </ion-col>
  </ion-row>
</ion-content>
