@mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: $color;
	margin: 0px;
}

listing-page {
	$categories-heading-image-height: 150px;
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;

	.listing-header
	{
		.header-logo
		{
			width: 34vw;
		}
	}

	.listing-content
	{
		.image-heading
		{
			height: $categories-heading-image-height;

			.bg-overlay
			{
				z-index: 1;
				background-color: rgba($black-c, .6);
			}

			ion-spinner {
				z-index: 2;
			}

			@include spinner-color($white);

			.heading-row
			{
				height: 100%;
				z-index: 3;
  			position: absolute;
				@include align-items(center);

				.main-title
				{
					@include categories-title-style($white);
					font-size: 10vw;
				}
			}
		}

		.categories-title
		{
			font-size: 1.3rem;
			font-weight: 500;
			letter-spacing: 0.7px;
			color: $black;
			margin: 8px 12px 9px;
		}

		.horizontal-categories
		{
			border-bottom: 10px solid $white-a;
			@include element-shadow();
			padding-bottom: 16px;

			.scroll-content
			{
				position: relative;
				contain: style layout;
			}

			preload-image {
				border-radius: 50%;

				img	{
					border-radius: 50%;
				}
			}

			.categories-row
			{
				&::after{
					content: '';
					flex: 0 0 $categories-horizontal-list-padding;
			    max-width: $categories-horizontal-list-padding;
				}
			}

			.horizontal-item
			{
				padding: 0px 0px 0px $categories-horizontal-list-padding;
			}
		}

		.grid-categories
		{
			// padding: 0px ($categories-grid-padding/2);
			@include flex-wrap(wrap);

			.category-item
			{
				padding: 0;
				// padding: 0px ($categories-grid-padding/2) $categories-grid-padding;
				height: 150px;
				.category-heading
				{
					// padding-bottom: 100%;
					background-size: cover;
					.bg-overlay
					{
						z-index: 1;
						background-color: rgba($black-c, .6);
					}

					ion-spinner {
						z-index: 2;
					}

					@include spinner-color($white);

					.heading-row
					{
						height: 100%;
						width: 100%;
						z-index: 3;
		  			position: absolute;
						@include align-items(center);
						.category-title
						{
							@include categories-title-style($white);
						}
					}
				}
			}
		}
	}
}
