<ion-header>
    <ion-navbar>
        <ion-title>Appointment</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="schedule-content">
    <ion-segment class="schedule-segment" [(ngModel)]="segment" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="history" (ionSelect)="onSegmentSelected($event)">
            History
        </ion-segment-button>
        <ion-segment-button value="today" (ionSelect)="onSegmentSelected($event)">
            Today
        </ion-segment-button>
        <ion-segment-button value="future" (ionSelect)="onSegmentSelected($event)">
            Upcoming
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'history'">
            <ion-list class="schedule-list">
                <placeholder title="appointment" *ngIf="!schedule.history.length"> </placeholder>
                <ion-item class="schedule-item" *ngFor="let item of schedule.history" (tap)="goToBooking(item)">
                    <ion-row>
                        <ion-col col-2 class="schedule-date">
                            <h2 class="schedule-day">{{item.date.day}}</h2>
                            <h3 class="schedule-month">Status</h3>
                            <h4 class="schedule-time {{item.status}}">{{item.status}}</h4>
                        </ion-col>
                        <ion-col col-10 class="schedule-data">
                            <div class="data-item">
                                <div class="item-content">
                                    <h2 class="item-title one-line">{{item.title}}</h2>
                                    <div class="item-description">
                                        <ion-icon class="description-icon" name="clock"></ion-icon>
                                        <p class="description-text">{{item.date.full}}</p>
                                    </div>
                                    <div class="item-description">
                                        <ion-icon class="description-icon" name="navigate"></ion-icon>
                                        <p class="description-text one-line">{{item.location}}</p>
                                    </div>
                                </div>
                                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </div>
        <div *ngSwitchCase="'today'">
            <ion-list class="schedule-list">
                <placeholder title="appointment" *ngIf="!schedule.today.length"> </placeholder>

                <ion-item class="schedule-item" *ngFor="let item of schedule.today" (tap)="goToBooking(item)">
                    <ion-row>
                        <ion-col col-2 class="schedule-date">
                            <h2 class="schedule-day">{{item.date.day}}</h2>
                            <h3 class="schedule-month">Status</h3>
                            <h4 class="schedule-time {{item.status}}">{{item.status}}</h4>
                        </ion-col>
                        <ion-col col-10 class="schedule-data">
                            <div class="data-item">
                                <div class="item-content">
                                    <h2 class="item-title one-line">{{item.title}}</h2>
                                    <div class="item-description">
                                        <ion-icon class="description-icon" name="clock"></ion-icon>
                                        <p class="description-text">{{item.date.full}}</p>
                                    </div>
                                    <div class="item-description">
                                        <ion-icon class="description-icon" name="navigate"></ion-icon>
                                        <p class="description-text one-line">{{item.location}}</p>
                                    </div>
                                </div>
                                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </div>
        <div *ngSwitchCase="'future'">
            <ion-list class="schedule-list">
                <placeholder title="appointment" *ngIf="!schedule.future.length"> </placeholder>
                <ion-item class="schedule-item" *ngFor="let item of schedule.future" (tap)="goToBooking(item)">
                    <ion-row>
                        <ion-col col-2 class="schedule-date">
                            <h2 class="schedule-day">{{item.date.day}}</h2>
                            <h3 class="schedule-month">Status</h3>
                            <h4 class="schedule-time {{item.status}}">{{item.status}}</h4>
                        </ion-col>
                        <ion-col col-10 class="schedule-data">
                            <div class="data-item">
                                <div class="item-content">
                                    <h2 class="item-title one-line">{{item.title}}</h2>
                                    <div class="item-description">
                                        <ion-icon class="description-icon" name="clock"></ion-icon>
                                        <p class="description-text">{{item.date.full}}</p>
                                    </div>
                                    <div class="item-description">
                                        <ion-icon class="description-icon" name="navigate"></ion-icon>
                                        <p class="description-text one-line">{{item.location}}</p>
                                    </div>
                                </div>
                                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
