<ion-header>
    <ion-navbar>
        <ion-title>{{storeDetail.name}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="goToBooking()">
                <ion-icon name="calendar"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="contact-card-content">
    <ion-slides #slider class="contact-slides" pager="true" loop="false" initialSlide="0">
        <ion-slide class="contact-slide" *ngIf="!(storeDetail.photo && storeDetail.photo.length)">
            <background-image class="slide-image js-img-viwer" [src]="uts.getDefaultStoreImg()"></background-image>
        </ion-slide>

        <ion-slide class="contact-slide" *ngFor="let image of storeDetail.photo">
          <a [href]="image.src? checkUrl(image.src) : uts.getDefaultStoreImg()" class="js-img-viwer">
            <img class="img" [src]="image.src? checkUrl(image.src) : uts.getDefaultStoreImg()" />
          </a>
        </ion-slide>
                    <!-- <background-image (tap)="handleImgClick(image.src? checkUrl(image.src) : uts.getDefaultStoreImg())" class="slide-image" [src]="image.src? checkUrl(image.src) : uts.getDefaultStoreImg()"></background-image> -->

    </ion-slides>
    <ion-row class="contact-details-row" wrap>
        <ion-col no-padding width-100>
            <h2 class="contact-name">{{ storeDetail.name }}</h2>
        </ion-col>
   <!--      <ion-col no-padding width-35 class="rating-col">
            <div class="contact-rating">
                <ion-item class="rating-item">
                    <rating ngModel="5" max="5" read-only="true"></rating>
                </ion-item>
            </div>
        </ion-col> -->
        <ion-col no-padding width-100>
            <p class="contact-description">
                Today opens from {{ storeDetail.businessHours?.startTime }} to {{ storeDetail.businessHours?.endTime }}
            </p>
        </ion-col>
    </ion-row>
    <div class="button-bar">
        <button ion-button primary (tap)="call(storeDetail.telephone)">
            <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button primary (tap)="sendMail(storeDetail.email)">
            <ion-icon name="mail"></ion-icon>
        </button>
        <button ion-button primary (tap)="openInAppBrowser(storeDetail.website)">
            <ion-icon name="globe"></ion-icon>
        </button>
    </div>
    <preload-image [ratio]="{w:4, h:3}"
                   [src]="'https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDGwu_84mVWNYKftDw3lMsTxj4fVlVxl3c&center='+storeDetail.lat+','+storeDetail.lng+'&zoom=15&size=400x300&scale=2&markers=icon:https://s3-us-west-2.amazonaws.com/ionicthemes-apps-assets/ion2FullApp/pin.min.png|'+storeDetail.lat+','+storeDetail.lng"
                   alt="{{ storeDetail.name }} location map"
                   title="{{ storeDetail.name }} - {{ storeDetail.address }}"></preload-image>
    <ion-segment class="user-content-segment" [(ngModel)]="segment" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="service" (ionSelect)="onSegmentSelected($event)">
            Service
        </ion-segment-button>
        <ion-segment-button value="staff" (ionSelect)="onSegmentSelected($event)">
            Staff
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'service'">
            <ion-scroll scrollY="true" class="service-scroll">
                <div class="list-mini">
                    <placeholder title="service" *ngIf="!service.length"></placeholder>

                    <ion-list>
                        <button class="list-item" ion-item *ngFor="let s of service" (tap)="goToBooking(s)">
                            <ion-row no-padding class="content-row one-line" >
                                <ion-col no-padding width-90 class="item-content">
                                    <h3 class="item-title">{{s.name}}</h3>
                                    <p class="item-description">Price : ${{s.price}} Duration: {{s.duration}}
                                        minutes</p>
                                </ion-col>
                                <ion-col no-padding width-10 class="item-icon">
                                    <ion-icon name="arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </button>
                    </ion-list>
                </div>
            </ion-scroll>
        </div>
        <div *ngSwitchCase="'staff'">
            <ion-scroll scrollY="true" class="service-scroll">
                <placeholder title="staff" *ngIf="!staff.length"></placeholder>

                <ion-item class="notification-item" *ngFor="let f of staff">
                    <ion-row no-padding class="content-row one-line" (tap)="goToStaffProfile(f)">
                        <ion-col no-padding width-20 class="item-content">
                            <ion-avatar item-left>
                                <preload-image class="user-image" [ratio]="{w:1, h:1}"
                                               [src]="f.avatar ? checkUrl(f.avatar) :uts.getDefaultStoreImg()"></preload-image>
                            </ion-avatar>
                        </ion-col>
                        <ion-col no-padding width-70 class="item-content">
                            <h2 class="item-title">{{f.firstname}} {{f.middlename}} {{f.lastname}}</h2>
                          <!--   <ion-col no-padding class="rating-col">
                                <div class="contact-rating">
                                    <ion-item class="rating-item">
                                        <rating ngModel="5" max="5" read-only="true"></rating>
                                    </ion-item>
                                </div>
                            </ion-col> -->
                        </ion-col>
                        <ion-col no-padding width-10 class="item-icon">
                            <ion-icon name="arrow-forward" class="arrow-forward"></ion-icon>
                        </ion-col>
                        <ion-note class="item-time" item-right>{{f.date}}</ion-note>
                    </ion-row>
                </ion-item>

            </ion-scroll>
        </div>
    </div>

    <ion-list class="details-list">
        <ion-item class="detail-item" (tap)="startNav(storeDetail)">
            <ion-avatar item-left>
                <ion-icon name="pin"></ion-icon>
            </ion-avatar>
            <span class="detail-text nav-address">{{ storeDetail.formattedAddress }}</span>
        </ion-item>
        <ion-item class="detail-item">
            <ion-avatar item-left>
                <ion-icon name="globe"></ion-icon>
            </ion-avatar>
            <span class="detail-text">{{ storeDetail.website || 'Not provided' }}</span>
        </ion-item>
        <ion-item class="detail-item">
            <ion-avatar item-left>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <span class="detail-text">{{ storeDetail.telephone || 'Not provided' }}</span>
        </ion-item>
        <ion-item class="detail-item">
            <ion-avatar item-left>
                <ion-icon name="mail"></ion-icon>
            </ion-avatar>
            <span class="detail-text">{{ storeDetail.email || 'Not provided' }}</span>
        </ion-item>
    </ion-list>

</ion-content>
