contact-card-page {
  $contact-card-slides-height: 45%;

  .contact-card-content {
    .contact-slides {

      height: $contact-card-slides-height;
      .img{
        width: 100%;
        height: 100%;
      }
      .slide-image{
        background-size: 100% 100%;
      }
      ion-slide.contact-slide {
        .slide-zoom {
          height: 100%;
        }
      }

      .swiper-pagination {
        .swiper-pagination-bullet {
          opacity: 1;
          background: $white;
          width: 10px;
          height: 10px;
        }

        .swiper-pagination-bullet-active {
          background: $theme-color-1;
        }
      }
    }

    .contact-details-row {
      background: $black-a;
      color: $white-b;
      padding: 16px;

      .contact-name {
        margin: 0px;
        font-size: 2.2rem;
        font-weight: 400;
      }

      .rating-col {
        display: flex;
        @include align-items(center);
        @include justify-content(flex-end);
      }

      .contact-rating {
        @include rating-item-styles($white-d, $theme-color-1);

        .rating-item {
          box-shadow: none;
          background: transparent;
          margin: 2px 0px;
          min-height: 0px;

          rating {
            padding: 0px !important;

            .rating-icon {
              height: auto;

              &:last-child {
                padding-right: 0px;
              }

              ion-icon {
                font-size: 0.9em !important;
              }
            }
          }
        }
      }

      .contact-description {
        margin: 8px 0px 0px;
        color: $white-d;
      }
    }

    .button-bar {
      @include display(flex);
      margin: 6px 0px;

      & > .button {
        @include segment-text-styles(color($colors, button-alt, base));
        background-color: color($colors, button-alt, contrast);
        margin: 0px;
        border-radius: 0px;
        @include flex(1);

        &::after {
          content: '';
          background-color: $white-c;
          width: 2px;
          @include calc(height, "100% - 20px");
          margin: 10px 0px;
          position: absolute;
          top: 0px;
          right: 0px;
          opacity: 0.6;
        }

        &:last-child {
          &::after {
            content: initial;
          }
        }

        ion-icon {
          font-size: 2.2em;
        }
      }
    }

    .details-list {
      margin: 0px 16px 24px;

      ion-item {
        background: transparent;
        padding: 0px;
        border: none !important;

        ion-avatar {
          margin: 5px 10px 5px 0px;
          min-width: 0px;
          min-height: 0px;
          width: 10%;
          text-align: center;

          ion-icon {
            font-size: 1.8em;
            color: $white-d;
          }
        }

        .item-inner {
          padding: 22px 0px;
          border-bottom: 0.55px solid rgba($white-d, .6) !important;

          ion-label {
            margin: 0px;
            overflow: visible;
            white-space: normal;
          }
        }
      }

      .detail-item {
        .detail-text {
          color: $white-d;
          font-size: 1.4rem;
          display: block;
          margin-left: 8px;
        }
      }
    }

  }

  .user-content-segment {
    @include segment-button-styles($theme-color-2);

    .segment-button {
      @include segment-text-styles($white-d);
    }
  }
  .service-scroll {
    height: 250px;
    .item-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .item-icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .list-mini {
      @include layout-list-styles($theme-color-2, $white-d);

      ion-list {
        .list-item {
          .content-row {
            .item-title {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.one-line {
              @include align-items(center);

              .item-description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  .notification-item {
    padding: 12px;
    border: none;
    box-shadow: inset 0 -0.5px 0 0 $black-d;
    @include align-items(flex-start);

    ion-avatar {
      flex: 0 0 16%;
      max-width: 16%;
      margin: 0px;
      @include align-self(flex-start);

      .user-image {
        border-radius: 50%;
      }
    }

    .item-inner {
      padding: 0px;
      padding-left: 12px;
      border: none;
      border-bottom: 0.55px solid rgba(#ffffff, .6) !important;
      ion-label {
        margin: 0px;
      }
    }

    .item-title {
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: $theme-color-2;
      margin-bottom: 4px;
    }

    .item-description {
      font-size: 1.2rem;
      letter-spacing: 0.2px;
      color: $white-d;
      text-overflow: initial;
      overflow: initial;
      white-space: initial;
    }

    .item-time {
      font-size: 1.2rem;
      font-weight: 500;
      color: $white-d;
      margin: 0px;
      padding-left: 8px;
      @include align-self(flex-start);
    }
  }
  .rating-col {
    margin-left: -4px !important;
    display: flex;
    @include align-items(center);
    @include justify-content(flex-start);
  }

  .contact-rating {

    @include rating-item-styles($white-d, $theme-color-1);

    .rating-item {
      box-shadow: none;
      background: transparent;
      margin: 2px 0px;
      min-height: 0px;

      rating {
        padding: 0px !important;

        .rating-icon {
          height: auto;

          &:last-child {
            padding-right: 0px;
          }

          ion-icon {

            color: $theme-color-2;
            font-size: 0.9em !important;
          }
        }
      }
    }

  }
  .arrow-forward {
    font-size:2em;
    color:$theme-color-2;
    text-align: right;
    padding-left: 10px;
  }

  .nav-address{
    color:dodgerblue !important;
  }

  placeholder .placeholder{
    position: relative !important;
    height: 100% !important;
    background-color: #f8f8f8;
  }
  .scroll-zoom-wrapper{
    height:100%;
  }
  .list-mini{
    height: 100%;
  }

}
