placeholder{
  .placeholder{
    width: 100%;
    position: fixed;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-content{
      font-size: 23px;
      text-align: center;
      font-weight: 600;
      color: #dddddd;
      max-width: 300px;
      margin: auto;
    }
  }
}