<ion-header>
  <ion-navbar>
    <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="store" (ionSelect)="onSegmentSelected($event)">
        Store
      </ion-segment-button>
      <ion-segment-button value="staff" (ionSelect)="onSegmentSelected($event)">
        Staff
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
  <ion-navbar>
    <ion-searchbar
            *ngIf="showSearchBar"
            [(ngModel)]="search"
            (ionInput)="onInput($event)"
            (ionFocus)="onFocus($event)"
            [showCancelButton]=true
            [debounce]=500
            placeholder="Store or Staff name"
            [autocomplete]="on"
            [animated]=true
            #searching
            (ionCancel)="onCancel($event)"
    >
    </ion-searchbar>
    <ion-title *ngIf="!showSearchBar">{{displayText}}</ion-title>
    <ion-buttons [hidden]="showSearchBar" end>
      <button ion-button icon-only (tap)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-big-content">
  <div [ngSwitch]="display" class="user-content">
    <div *ngSwitchCase="'store'" class="store-view list-big">

      <placeholder title="favorite store" *ngIf="!favoriteStore.length"> </placeholder>

      <ion-list>
        <button class="list-item" ion-item *ngFor="let store of (favoriteStore | matchedName  : search)" (tap)="goToStore(store)">
          <ion-row no-padding class="content-row" >
            <ion-col no-padding width-33 class="item-avatar">
              <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="store.logoImg ? getUrl(store.logoImg) : uts.getDefaultStoreImg()"></preload-image>
            </ion-col>
            <ion-col no-padding width-57 class="item-content">
              <h3 class="item-title">{{store.name}}</h3>
              <p class="item-description" rows="2">{{store.description}}</p>
              <p class="item-address" rows="2">{{store.formattedAddress}}</p>
              <!-- You can change the rows quantity by using rows="X", where X can be any number for example: rows="4" -->
            </ion-col>
            <ion-col no-padding width-8 class="item-icon">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </button>
      </ion-list>
    </div>
    <div *ngSwitchCase="'staff'" class="staff-view list-mini">
      <placeholder title="favorite staff" *ngIf="!favoriteStaff.length"> </placeholder>

      <ion-list>
        <button class="list-item" ion-item *ngFor="let staff of (favoriteStaff | matchedStaffName  : search)" (tap)="goToProfile(staff)">
          <ion-row no-padding class="content-row one-line">
            <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
            <ion-col no-padding width-18 class="item-avatar">
              <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="staff.avatar ? getUrl(staff.avatar) : uts.getDefaultUserImg()"></preload-image>
            </ion-col>
            <ion-col no-padding width-72 class="item-content">
              <h3 class="item-title">{{staff.firstname}} {{staff.lastname}}</h3>
              <p class="item-description">{{staff.storeId.name}}</p>
              <p class="item-description">{{staff.storeId.formattedAddress}}</p>
            </ion-col>
            <ion-col no-padding width-10 class="item-icon">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </button>
      </ion-list>
    </div>
  </div>
</ion-content>
