// Common list styles can be found in "./common.styles/layouts/lists"
$list-big-font-size: 14px;

favorite-page {
  // ion-header {
  //   @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
  // }

  .user-content-segment
  {
    // background-color: color($colors, background, base);
    @include segment-button-styles-native($theme-color-1);

    .segment-button
    {
      @include segment-text-styles($white-d);
    }
  }
  .list-big-content
  {
    background-color: color($colors, background, base);

    
    .list-big
    {
      @include layout-list-styles($theme-color-1, $white-d);

      ion-list {
        .list-item
        {
          
          .content-row
          {
            @include align-items(center);
          }

          .item-content
          {
            @include align-content(stretch);
            @include display(flex);
            @include flex-wrap(wrap);
            @include align-self(stretch);

            .item-title
            {
              margin-bottom: 8px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .item-description
            {
              @include multi-line-ellipsis($list-big-font-size);
            }

            .item-address
            {
              @include multi-line-ellipsis($list-big-font-size);
            }
          }
        }
      }
    }

    .list-mini
    {
      @include layout-list-styles($theme-color-1, $white-d);

      ion-list {
        .list-item
        {
          .content-row
          {
            .item-content{
              height: 66px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            .item-title{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.one-line
            {
              @include align-items(center);

              .item-description
              {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
