<ion-header>
    <ion-navbar>
        <ion-buttons left [hidden]="calendar.mode == 'day'">
            <button ion-button (tap)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons left [hidden]="calendar.mode == 'month'">
            <button ion-button (tap)="changeMode('month')">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button [disabled]="isToday" (tap)="today()">Today</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content [ngClass]="{'booking' : calendar.mode == 'month', 'booking day' : calendar.mode == 'day' }" >
    <ion-row class="contact-details-row" wrap>
        <div class="page-title">{{viewTitle}}</div>
    </ion-row>


    <calendar
            [eventSource]="eventSource"
            queryMode="remote"
            autoSelect=false
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            (onRangeChanged)="onRangeChanged($event)"
            step="1">
    </calendar>
    <form class="sample-form event-form" [formGroup]="event_form" (ngSubmit)="createEvent()"
          [hidden]="calendar.mode == 'month'">
        <section class="form-section">
            <h2 class="section-title">Make a booking (<span class="blue"></span> = available)</h2>
            <ion-item>
                <ion-label>Service</ion-label>
                <ion-multi-picker item-content [multiPickerColumns]="serviceList"
                                  formControlName="serviceSelected"></ion-multi-picker>
            </ion-item>
            <ion-row no-padding class="multi-input-row" [hidden]="!isShowing">
                <ion-col no-padding width-50>
                    <ion-item>
                        <ion-label text-left class="label-title">Duration:</ion-label>
                        <ion-label text-right>{{duration}} Mins</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                    <ion-item>
                        <ion-label text-left class="label-title">Price:</ion-label>
                        <ion-label text-right> ${{price}}</ion-label>
                    </ion-item>

                </ion-col>

            </ion-row>
            <ion-item>
                <ion-label>Staff</ion-label>
                <ion-multi-picker item-content [multiPickerColumns]="staffList"
                                  formControlName="staffSelected"></ion-multi-picker>
            </ion-item>
            <ion-row no-padding class="multi-input-row">
                <ion-col no-padding width-60>
                    <ion-item class="multi-input time-item">
                        <ion-label class="label-title" floating>Date:</ion-label>
                        <ion-datetime disabled formControlName="from_date" displayFormat="DD/MM/YY" [min]="minDate" [max]="maxDate"
                                      pickerFormat="DD-MM-YYYY"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col no-padding width-40>
                    <ion-item class="multi-input time-item">
                        <ion-label class="label-title" floating>Time:</ion-label>
                        <ion-datetime formControlName="from_time" displayFormat="h mm a" minuteValues="0,30"
                                      pickerFormat="h mm A"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding width-100>
                    <ion-item>
                        <ion-label class="label-title" stacked>Comment:</ion-label>
                        <ion-textarea rows="6" placeholder="Any special requirements" formControlName="comment"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
        </section>
        <section class="form-section">
            <button ion-button block class="form-action-button create-event-button" type="submit"
                    [disabled]="!event_form.valid">Done!
            </button>
        </section>
    </form>

    <ion-scroll [ngStyle]="{'height':scrollHeight+'px'}" class="list-view-scroll" scrollY="true" *ngIf="calendar.mode != 'day' && bookingOfMonth.length">
        <ion-item class="schedule-item" *ngFor="let item of bookingOfMonth">
            <ion-row (tap)="goToBooking(item)">
                <ion-col col-2 class="schedule-date">
                    <h2 class="schedule-day">{{item.date.day}}</h2>
                    <h3 class="schedule-month">{{item.date.month_name}}</h3>
                    <h4 class="schedule-time">{{item.date.time}}</h4>
                </ion-col>
                <ion-col col-10 class="schedule-data">
                    <div class="data-item">
                        <div class="item-content">
                            <h2 class="item-title one-line">{{item.title}}</h2>
                            <div class="item-description">
                                <ion-icon class="description-icon" name="clock"></ion-icon>
                                <p class="description-text">{{item.date.full}}</p>
                            </div>
                            <div class="item-description">
                                <ion-icon class="description-icon" name="navigate"></ion-icon>
                                <p class="description-text one-line">{{item.location}}</p>
                            </div>
                        </div>
                        <ion-icon class="item-icon" name="arrow-forward" *ngIf="!bookingInfo"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-scroll>
    <ion-row *ngIf="!bookingOfMonth.length && calendar.mode != 'day'">
        <h2 class="no-booking">No Bookings</h2>
    </ion-row>


</ion-content>
<ion-footer *ngIf="calendar.mode !== 'day'">
    <ion-toolbar>
        <button ion-button block class="form-action-button booking-day" (click)="changeMode('day')" id="booking-btn">
            Book This Day
        </button>
    </ion-toolbar>
</ion-footer>
