booking{
  //.scroll-content{
  //  display: flex;
  //  flex-direction: column;
  //}
  .booking{
    &.day{
      .fixed-content{
        margin-bottom: 0px !important
      }
      .scroll-content{
        margin-bottom: 0px !important
      }
    }
  }
  .label-title
  {
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 1.1px;
    color: $theme-color-2 !important;
    font-weight: 400;
    margin: 0px;
  }
  .page-title{
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color:$theme-color-1;
  }
  .sample-form
  {
    padding-bottom: 10px;
    .form-section
    {
      padding: 0px 14px;
      .blue{
        width: 15px;
        height: 15px;
        display: inline-block;
        background: #3a87ad;
        vertical-align: middle;
        margin-left: 3px;
      }
      .item:first-child
      {
        margin-top: 20px;
      }
    }

    ion-item {
      @include basic-input-style(color($colors, background, base), $theme-color-3, $white-d);

      &.item
      {
        margin-top: 14px;

        &.item-label-floating
        {
          margin-top: 0px;

          ion-label {
            color: $white-d;
          }
        }

        .item-inner
        {
          ion-icon {
            color: $theme-color-2;
          }
        }
      }

      &:first-of-type {
        margin-top: 0px;
      }
    }

    .section-title
    {
      font-size: 1.8rem;
      line-height: 1.2;
      letter-spacing: 1.1px;
      text-align: center;
      color: $theme-color-1;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .form-action-button
    {
      margin: 0px;
      margin-top: 20px;

      @include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
    }
  }
  .event-form
  {
    .section-title
    {
      margin-top: 30px;

      & + .item-input
      {
        margin-top: 20px;
      }
    }

    .multi-input-row
    {
      @include align-items(flex-end);

      ion-col {
        padding: 0px 7px;

        &:first-child{
          padding-left: 0px;
        }

        &:last-child{
          padding-right: 0px;
        }
      }

      .multi-input
      {
        margin: 0px;

        &.item-datetime.item-label-floating
        {
          ion-label {
            margin-top: 7px;
          }

          ion-datetime {
            padding-top: 0px;
          }
        }

        ion-datetime {
          padding-left: 0px;

          .datetime-text
          {
            color: $theme-color-3;
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    .dayview-allday-label {
      line-height: 20px;
      width: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
    }
    .calendar-hour-column{
      width: 40px;
    }
  }
  .calendar-view{
    height: 60%;
  }
  .dayview-normal-event-container{
    max-height: 600px;
  }
  .dayview-container{
    max-height: 400px;
  }
  .event-detail-container, .dayview-allday-table{
    display: none !important;
  }
  .dayview-normal-event-container{
    margin-top: 0 !important;
  }
  .dayview-container{
    height: 100% !important;
  }
  .monthview-container{
    height: auto !important;
    td, th{
      border: 0 !important;
    }
  }
  .monthview-datetable{
    border: 0px !important;
  }

  .list-view-scroll{
    flex-basis: 45%;
  }
  .booking-day{

    background-color:$theme-color-1;
    margin: 0 !important;
    border-radius: 0;
  }

  .toast{
    .toast-message{
      font-size: 1.5rem;
      line-height: 1.2;
      letter-spacing: 1.1px;
      color: $theme-color-2 !important;
      font-weight: 400;
      margin: 0;
    }
  }

  .schedule-item
  {
    padding: 5px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    .item-inner
    {
      border: none;
      padding: 0px;

      ion-label {
        margin: 0px;
      }
    }

    .schedule-date
    {
      color: $white-d;
      text-align: center;
      padding: 0px 10px 0px 0px;
      @include align-self(center);

      .schedule-day
      {
        font-size: 3.2rem;
        font-weight: 400;
      }

      .schedule-month
      {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .schedule-time
      {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .schedule-data
    {
      border-radius: 6px;
      background-color: $white;
      @include element-shadow();

      .data-item
      {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);

        .item-content
        {
          flex: 0 0 90%;
          max-width: 90%;
          padding-right: 5px;

          .item-title
          {
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: $theme-color-1;
            margin-bottom: 12px;

            &.one-line
            {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .item-description
          {
            margin-bottom: 4px;
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);

            &:last-child
            {
              margin: 0px;
            }

            .description-icon
            {
              color: $white-d;
              flex: 0 0 12%;
              max-width: 12%;
              padding-right: 2px;
              font-size: 2.1rem;
              text-align: left;
            }

            .description-text
            {
              flex: 0 0 88%;
              max-width: 88%;
              padding-left: 2px;
              white-space: normal;
              font-size: 1.2rem;
              line-height: 1.4;
              letter-spacing: 0.2px;
              color: $white-d;

              &.one-line
              {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }

        .item-icon
        {
          flex: 0 0 10%;
          max-width: 10%;
          text-align: right;
          color: $theme-color-1;
          font-size: 2.2em;
          padding-left: 5px;
        }
      }
    }
  }
  .no-booking{
    color:$theme-color-2;
    width: 100%;
    text-align: center;
  }
  #booking-btn{
    z-index:1000;
  }

  .toolbar-background {
    border: 0px !important;
  }
}