<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Google Maps</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="openFilter()">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="dismiss()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row no-padding class="map-row">
    <ion-col no-padding class="map-col">
      <div class="search-container">
        <!-- <ion-toolbar class="search-toolbar transparent-background"> -->
        <ion-toolbar class="search-toolbar">
          <ion-buttons start>
            <button ion-button icon-only (tap)="geolocateMe()" class="geolocation-button" [ngClass]="{'using-geolocation': map_model.using_geolocation}">
              <ion-icon name="locate"></ion-icon>
            </button>
          </ion-buttons>
          <ion-searchbar class="search-places-bar" placeholder="Search places near location" [(ngModel)]="map_model.search_query" (ionInput)="searchPlacesPredictions(map_model.search_query)" (ionClear)="clearSearch()"></ion-searchbar>
        </ion-toolbar>
        <ion-list [hidden]="map_model.search_places_predictions.length == 0" class="search-options-list">
          <ion-item *ngFor="let place of map_model.search_places_predictions" tappable (tap)="selectSearchResult(place)">
            {{ place.description }}
          </ion-item>
        </ion-list>
      </div>

      <div class="map-container">
        <google-map [options]="map_model.map_options"></google-map>
      </div>


      <ion-scroll #scrolling [hidden]="false" scrollX="true" class="nearby-places-container" delegate-handle="store-card-delegate" id="scrolling">
        <ion-row class="nearby-places-row">
          <ion-col width-64 class="place-item-outer" *ngFor="let store of storeCards">
            <ion-card class="place-card" (tap)="handleCardClick(store)">
              <background-image class="place-image-heading" [src]="store.logoImg ? getUrl(store.logoImg): uts.getDefaultStoreImg()">
                <ion-row class="heading-row">
                  <ion-col no-padding width-100>
                    <h2 class="place-title">{{ store.name }}</h2>
                  </ion-col>
                </ion-row>
              </background-image>
              <div class="place-details-container">
                <ion-row class="details-row">
                  <ion-col no-padding width-50>
                    <span class="opening-hours" [ngClass]="'opened'">
                      OPENED
                    </span>
                  </ion-col>
                  <ion-col no-padding width-50>
                    <div class="place-rating">
                      <ion-item class="rating-item">
                        <rating ngModel="5" max="5" read-only="true"></rating>
                      </ion-item>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-list class="details-list" no-lines>
                  <ion-item class="place-location">
                    <ion-avatar item-left>
                      <ion-icon name="pin"></ion-icon>
                    </ion-avatar>
                    <span class="location-text">{{ store.formattedAddress }}</span>
                  </ion-item>
                </ion-list>
              </div>
              <div class="additional-info">
                <!-- <span class="additional-info-review">2 reviews</span> -->
                <span class="additional-info-distance">{{store.distance.km}} away</span>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ion-col>
  </ion-row>
</ion-content>
