<ion-content class="profile-content">
  <ion-buttons end class="ionButtons">
    <button ion-button icon-only navPop [hidden]="showEditBtn" class="backBtn">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </button>
    <button ion-button icon-only [hidden]="!showEditBtn" (tap)="goToSettings()">
      <ion-icon name="settings"></ion-icon>
    </button>
    <button ion-button icon-only [hidden]="showEditBtn" (tap)="favorStaff()">
      <ion-icon [name]="isFavor ? 'heart' : 'heart-outline'"></ion-icon>
    </button>
  </ion-buttons>
  <div class="user-details" [ngStyle]="{'background-image':'url(./assets/img/schedule-background.png)'}">
    <ion-row class="user-main-data-row">
      <ion-col no-padding width-33>
        <preload-image class="rounded-image" (tap)="handleImgClick(profile.user.avatar? checkUrl(profile.user.avatar) : uts.getDefaultUserImg())"  [ratio]="{w:1, h:1}" [src]="profile.user.avatar? checkUrl(profile.user.avatar) : uts.getDefaultUserImg()"></preload-image>
      </ion-col>
      <ion-col no-padding>
        <ion-row class="social-presence-row">
          <ion-col width-100 class="social-presence-item">
            <h2 class="user-name">{{profile.user.firstname}} {{profile.user.lastname}}</h2>
            <div class="user-location">{{profile.user.dob | date}}</div>
            <div class="user-location" [ngStyle]="{'margin-top': '10px'}">{{profile.user.location}}</div>
          </ion-col>
        </ion-row>
        <ion-row class="profile-action-row" [hidden]="showEditBtn">

          <ion-col  width-100 class="profile-col">
            <button ion-button class="profile-button" round small (tap)="goToSettings()">
              Message me
            </button>
          </ion-col>


        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row wrap class="user-bio-row">
      <ion-col no-padding width-100>
        <p class="user-description">
          {{profile.user.description}}
        </p>
      </ion-col>
    </ion-row>
  </div>


  <ion-segment [hidden]="showEditBtn" class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="grid" (ionSelect)="onSegmentSelected($event)">
      Availability
    </ion-segment-button>
    <!--<ion-segment-button value="list" (ionSelect)="onSegmentSelected($event)">-->
      <!--List-->
    <!--</ion-segment-button>-->
  </ion-segment>

  <div [hidden]="showEditBtn" [ngSwitch]="display" class="user-content">
    <!--<div *ngSwitchCase="'list'" class="list-view">-->
      <!--<div class="list-item" *ngFor="let post of profile.posts">-->
        <!--<span class="item-date">{{post.date}}</span>-->
        <!--<ion-card>-->
          <!--<preload-image [ratio]="{w:1, h:1}" [src]="post.image" title=""></preload-image>-->
          <!--<ion-card-content>-->
            <!--<p class="item-text">-->
              <!--{{post.description}}-->
            <!--</p>-->
          <!--</ion-card-content>-->
          <!--<ion-row no-padding class="actions-row">-->
            <!--<ion-col no-padding width-30 text-left>-->
              <!--<button class="action-button" ion-button clear small color="danger" icon-left>-->
                <!--<ion-icon isActive="{{post.liked}}" name='heart'></ion-icon>-->
                  <!--{{post.likes}} Likes-->
              <!--</button>-->
            <!--</ion-col>-->
            <!--<ion-col no-padding width-45 text-center>-->
              <!--<button class="action-button" ion-button clear small color="danger" icon-left>-->
                <!--<ion-icon name='chatbubbles'></ion-icon>-->
                  <!--{{post.comments}} Comments-->
              <!--</button>-->
            <!--</ion-col>-->
            <!--<ion-col no-padding width-25 text-right>-->
              <!--<button class="action-button" ion-button clear small color="danger" icon-left (tap)="sharePost(post)">-->
                <!--<ion-icon name='share-alt'></ion-icon>-->
                <!--Share-->
              <!--</button>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-card>-->
      <!--</div>-->
    <!--</div>-->
    <div *ngSwitchCase="'grid'" class="grid-view">
      <ion-row wrap class="grid-row">
        <ion-col class="grid-item" *ngFor="let av of availability">
          <div class="av-item"  (tap)="goToBooking(av)">{{av}}</div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div [hidden]="!showEditBtn" class="summary">
    <h5>Expense summary</h5>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
    ></canvas>
    <ion-card *ngFor="let data of info" [hidden]="!data.sinceLastTime">
      <ion-card-content class="{{data['type']}} card-content">
        <h4>{{data['type']}}</h4>
        <div class="card center">
            It has been {{data['sinceLastTime']}} since last time
        </div> 
        <div class="card">
          <span>
            Last Visit: 
          </span>
          <span>
            {{data['lastTimeStamp'] | date:'medium'}}
          </span>
        </div> 
        <!-- It has been <br>{{data['sinceLastTime']}}<br> since last time for <br>{{data['type']}} -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
