feed-page {
	.searchbar{
		min-height: 39px;
	}

	.feed-content
	{
		background-color: color($colors, background, base);
		.spinner{
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 50px;
			height: 50px;
		}
		.feed-item
		{
			// @include basic-card-styles($white-d);

			&:first-child{
				border-top: 0;
				// transform: none !important;
			}
			padding-left: 0;
			width: 100%;
			.item-inner{
				padding-left: 8px;
			}
			// .ion-img{
			// 	img{
			// 		width: 100%;
			// 		height: 200px;
			// 	}
			// }
			.ionImg{
				width: 100%;
				height: 220px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.item-text {
				line-height: 1.5em;
				height: 3em;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.item-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				color: $theme-color-2;
			}
			.item-distance{
				float: right;
			}
		}
	}
	.feed-content .feed-item .actions-row{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	placeholder .placeholder{
		height: 90% !important;
	}
}
