<ion-header>
  <ion-navbar>
    <ion-searchbar
    *ngIf="showSearchBar"
    [(ngModel)]="search"
    (ionInput)="onInput($event)"
    (ionFocus)="onFocus($event)"
    [showCancelButton]=true
    [debounce]=500
    placeholder="Name, Postcode, Suburb"
    [autocomplete]="on"
    [animated]=true
    #searching
    (ionCancel)="onCancel($event)"
    >
  </ion-searchbar>
  <ion-title *ngIf="!showSearchBar">{{category.displayText}}</ion-title>
  <ion-buttons [hidden]="showSearchBar" end>
    <button ion-button icon-only (tap)="showSearch()">
      <ion-icon name="search"></ion-icon>
    </button>
    <button ion-button icon-only (tap)="openFilter()">
      <ion-icon name="funnel"></ion-icon>
    </button>
    <button ion-button icon-only (tap)="goToMap()">
      <ion-icon name="map"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

</ion-header>

<ion-content #content class="feed-content">
  <div class="spinner" [hidden]="!loader">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <placeholder title="shops" *ngIf="!stores.length"></placeholder>
  <ion-list>
    <ion-item class="feed-item" *ngFor="let store of stores">
      <preload-image (tap)="goToStore(store)" [ratio]="{w:3, h:2}"
      [src]="store.logoImg ? getUrl(store.logoImg): uts.getDefaultStoreImg()"
      title="store.name"></preload-image>

      <!-- <ion-img [src]="store.logoImg ? getUrl(store.logoImg): uts.getDefaultStoreImg()" class="ionImg" ></ion-img> -->
      <ion-card-content (tap)="goToStore(store)">
        <ion-card-title class="item-title">
          {{store.name}}
        </ion-card-title>
        <p class="item-text" text-wrap>
          {{store.description}}
        </p>
        <p class="item-distance">
          {{store.distance.km}}
        </p>
      </ion-card-content>
      <ion-row no-padding class="actions-row">
        <ion-col no-padding width-30 text-left>
          <button class="action-button" ion-button clear small icon-left (tap)="addToFavorite(store)">
            <ion-icon [name]="store.isFavor ? 'heart' : 'heart-outline'"></ion-icon>
          </button>
        </ion-col>
   <!--              <ion-col no-padding width-45 text-center>
                    <button class="action-button" ion-button clear small icon-left (tap)="bookStore(store)">
                        <ion-icon name='book'></ion-icon>
                    </button>
                  </ion-col> -->
        <ion-col no-padding width-25 text-right>
          <button class="action-button" ion-button clear small (tap)="shareStore(store)" icon-left>
            <ion-icon name='share-alt'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
