<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button  icon-only (tap)="goBack()" >
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons end [hidden]="!settingsForm.dirty">
      <button ion-button (tap)="saveProfile()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="settings-content">
  <div class="user-image-content">
    <ion-row no-padding class="user-image-row" (tap)="changePicture()">
      <ion-col no-padding width-40>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="profile.user.avatar ? profile.user.avatar : uts.getDefaultUserImg()"></preload-image>
      </ion-col>
    </ion-row>
    <h3 class="image-action">Change profile picture</h3>
  </div>

  <form [formGroup]="settingsForm" class="settings-form">
    <ion-list class="user-data-content">
      <ion-row justify-content-between>
        <ion-col no-padding width-49>
          <ion-item>
            <ion-label stacked>Firstname</ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col no-padding width-49>
          <ion-item>
            <ion-label stacked>Lastname</ion-label>
            <ion-input type="text" formControlName="lastname"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      
      <ion-item>
        <ion-label stacked>DOB</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" formControlName="dob"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Mobile</ion-label>
        <ion-input type="tel" formControlName="mobile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input disabled class="disabled" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Location</ion-label>
        <ion-input type="text" formControlName="location" ></ion-input>
        <!--<ion-searchbar class="search-places-bar" placeholder="Search places near location" [(ngModel)]="map_model.search_query" (ionInput)="searchPlacesPredictions(map_model.search_query)" (ionClear)="clearSearch()"></ion-searchbar>-->
      </ion-item>
      <ion-list [hidden]="!autoCompleteShowing" class="search-options-list">
        <ion-item *ngFor="let place of map_model.search_places_predictions" tappable (tap)="selectSearchResult(place)">
          {{ place.description }}
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-textarea formControlName="description" rows="5" placeholder="Your description here..."></ion-textarea>
      </ion-item>
    </ion-list>


<!--     <ion-list class="switchers-list">
      <ion-item class="switcher-item">
        <ion-label>Notifications</ion-label>
        <ion-toggle formControlName="notifications"></ion-toggle>
      </ion-item>
    </ion-list> -->
  </form>

  <button class="alt-button" ion-button full (tap)="showPrivacyModal()">Privacy policy</button>

  <button class="alt-button" ion-button full (tap)="showTermsModal()">Terms of use</button>

  <button class="alt-button logout-button" ion-button full icon-left (tap)="logout()">
    <ion-icon name="log-out"></ion-icon>
    Log out
  </button>
</ion-content>
