<button ion-button icon-only class="counter-icon" (tap)="decrease()">
  <ion-icon name="remove"></ion-icon>
</button>
<span class="counter-inner">{{counterValue}}</span>
<button ion-button icon-only class="counter-icon" (tap)="increase()">
  <ion-icon name="add"></ion-icon>
</button>
