// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

@font-face {
  font-family: 'roboto-regular';
  src: url('../assets/fonts/roboto-regular.ttf') format('ttf'), url('../assets/fonts/roboto-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-thin';
  src: url('../assets/fonts/roboto-thin.ttf') format('ttf'), url('../assets/fonts/roboto-thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-light';
  src: url('../assets/fonts/roboto-light.ttf') format('ttf'), url('../assets/fonts/roboto-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$theme-color-1: #00e9d5;
$theme-color-2: #795548;
$theme-color-3: #9e9e9e;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  balanced:   #327eff,
  walkthrough:(
    base: $theme-color-2,
    contrast: $white
  ),
  walkthrough-alt:(
    base: $theme-color-1,
    contrast: $white
  ),
  walkthrough-header:(
    base: transparent,
    contrast: $white
  ),
  header:(
    base: $theme-color-1,
    contrast: $white
  ),
  header-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  facebook:(
    base: #3b5998,
    contrast: $white
  ),
  google:(
    base: #cc181e,
    contrast: $white
  ),
  twitter:(
    base: #00aced,
    contrast: $white
  ),
  button:(
    base: $theme-color-1,
    contrast: $white
  ),
  button-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  background:(
    base: $white-a,
    contrast: $black-b
  ),
  tabs-navigation:(
    base: $white,
    contrast: $white-d
  )
);

$primary: #ffca28;
$primary-active: #ffd75b;
$secondary: #55acee;
$secondary-active: #6acdff;
$dark: #333;
$dark-active: #4c4c4c;
$gray: #c3c3c3;
$facebook: #3052a8;
$facebook-active: #345cc0;
$google: #dd4b39;
$google-active: #ff563f;

// Set header bar color to our primary color
// $toolbar-background: $primary;
$fab-content-margin: 0;

$refresher-border-color: rgba(0, 0, 0, 0);
// $refresher-icon-color: $primary;
// $refresher-text-color: $primary;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// $loading-ios-background: rgba(0, 0, 0, 0.5);
// $loading-ios-spinner-color: #fff;
// $toolbar-ios-title-text-color: #fff;
// $tabs-ios-tab-icon-color: $gray;
// $tabs-ios-tab-icon-color-active: $primary;
// $tabs-ios-tab-icon-size: 28px;
// $tabs-ios-border: 0;
// $searchbar-ios-input-clear-icon-color: $primary;
// $searchbar-ios-input-clear-icon-size: 22px;

// // App Material Design Variables
// // --------------------------------------------------
// // Material Design only Sass variables can go here
// $loading-md-background: rgba(0, 0, 0, 0.5);
// $loading-md-spinner-color: #fff;
// $toolbar-md-title-text-color: #fff;
// $tabs-md-tab-icon-color: $gray;
// $tabs-md-tab-icon-color-active: $primary;
// $tabs-md-tab-icon-size: 28px;
// $tabs-md-border: 0;
// $searchbar-md-input-clear-icon-color: $primary;
// $searchbar-md-input-clear-icon-size: 22px;

// // App Windows Variables
// // --------------------------------------------------
// // Windows only Sass variables can go here
// $loading-wp-background: rgba(0, 0, 0, 0.5);
// $loading-wp-spinner-color: #fff;
// $toolbar-wp-title-text-color: #fff;
// $tabs-wp-tab-icon-color: $gray;
// $tabs-wp-tab-icon-color-active: $primary;
// $tabs-wp-tab-icon-size: 28px;
// $tabs-wp-border: 0;
// $searchbar-wp-input-clear-icon-color: $primary;
// $searchbar-wp-input-clear-icon-size: 22px;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
