<ion-header class="walkthrough-header">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button class="skip-button" (tap)="skipIntro()" [hidden]="lastSlide">Skip</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="walkthrough-content">
  <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
    <ion-slide class="slide-1" [ngStyle]="{'background-image':'url(./assets/images/splash.png)', 'background-size': 'cover'}">
    </ion-slide>
    <ion-slide class="slide-2">
      <ion-row class="intro-image-row">
        <ion-col center width-100 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide1.png" alt="slide 2 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Wake up!</h2>
      <p class="intro-text">
        Find you favourite store
      </p>
      <p class="intro-text">
        Enjoy the service you get
      </p>
    </ion-slide>
    <ion-slide class="slide-3">
      <ion-row class="intro-image-row">
        <ion-col center width-100 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide2.png" alt="slide 3 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Get ready!</h2>
      <p class="intro-text">
        Get the best deal around you
      </p>
    </ion-slide>
    <ion-slide class="slide-4">
      <ion-row class="intro-image-row">
        <ion-col center width-100 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide3.png" alt="slide 4 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Almost done!</h2>
      <p class="intro-text">
        Log in to your account.
      </p>
      <p class="intro-text">
        We are ready to rock!
      </p>
      <div class="button-bar">
        <button ion-button primary (tap)="goToLogin()">Log in</button>
        <button ion-button primary (tap)="goToSignup()">Sign up</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
