<!-- <ion-menu [content]="content" [swipeEnabled]="true">
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <button ion-item detail-none *ngFor="let page of pages" (tap)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
      <button ion-item detail-none *ngFor="let page of pushPages" (tap)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-nav [root]="rootPage" #content swipe-back-enabled="true"></ion-nav>
