store-profile{
  .user-bio-row
  {
    padding: 4%;

    .user-name
    {
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: $theme-color-1;
      margin: 0px;
    }

    .user-location
    {
      margin-top: 5px;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 0.2px;
      color: $white-d;
      display: block;
      text-align: left;
      line-height: 1.6;
    }

    .user-description
    {
      font-size: 1.2rem;
      line-height: 1.6;
      letter-spacing: 0.2px;
      color: $white-d;
      margin: 10px 0px 0px;
    }
  }

  .slides{
    height: 35%;
  }

  .user-content-segment
  {
    @include segment-button-styles($theme-color-2);

    .segment-button
    {
      @include segment-text-styles($white-d);
    }
  }
}