<ion-header>
    <ion-navbar>
        <ion-title>
            {{store.name}}
        </ion-title>
    </ion-navbar>
    <ion-buttons end>
        <button ion-button icon-only (tap)="goToBooking()">
            <ion-icon name="map"></ion-icon>
        </button>
    </ion-buttons>

</ion-header>

<ion-content>
    <ion-slides [options]="{pager:true}" style="max-height:400px">
        <ion-slide *ngFor="let slide of storeDetail.photo">
            <img [src]="'https:'+slide.src">
        </ion-slide>
    </ion-slides>
    <ion-row wrap class="user-bio-row">
        <ion-col no-padding width-100>
            <h2 class="user-name">{{storeDetail.name}}</h2>
        </ion-col>
        <ion-col no-padding width-100>
            <span class="user-location">{{storeDetail.formattedAddress}}</span>
        </ion-col>
        <ion-col no-padding width-100>
            <p class="user-description">
                {{storeDetail.description}}
            </p>
        </ion-col>
    </ion-row>

    <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="service" (ionSelect)="onSegmentSelected($event)">
            Service
        </ion-segment-button>
        <ion-segment-button value="staff" (ionSelect)="onSegmentSelected($event)">
            Staff
        </ion-segment-button>
    </ion-segment>

</ion-content>