<ion-tabs>
  <ion-tab [root]="findPage" tabTitle="Find" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="favoritePage" tabTitle="Favorite" tabIcon="heart"></ion-tab>
  <!-- <ion-tab [root]="chatPage" tabTitle="Message" tabIcon="chatboxes"></ion-tab> -->
  <ion-tab [root]="appointmentPage" tabTitle="Appointment" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="profilePage" tabTitle="Profile" tabIcon="person" [rootParams]="sourcePage"></ion-tab>
</ion-tabs>
