<ion-content class="booking-detail">
    <ion-buttons start class="ionButtons">
      <button ion-button icon-only navPop class="backBtn">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <background-image class="booking-image-heading"
                      [src]="booking.storeId.backgroundImg? checkUrl(booking.storeId.backgroundImg) : uts.getDefaultStoreImg()">
    </background-image>
    <ion-row class="booking-card first">
        <ion-col width-100 class="booking-date">
            <label>{{booking.startTime}}</label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col width-100 class="schedule-date">
            <h2 class="booking-title">{{booking.appTitle}}</h2>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col width-100>
            <p class="booking-store-desc">{{booking.storeId.description}}</p>
        </ion-col>
    </ion-row>
    <preload-image [ratio]="{w:4, h:2}"
                   [src]="'https://maps.googleapis.com/maps/api/staticmap?center='+booking.storeId.lat+','+booking.storeId.lng+'&zoom=15&size=400x200&scale=2&markers=icon:https://s3-us-west-2.amazonaws.com/ionicthemes-apps-assets/ion2FullApp/pin.min.png|'+booking.storeId.lat+','+booking.storeId.lng"
                   alt="{{ booking.storeId.name }} location map"
                   title="{{ booking.storeId.name }} - {{ booking.storeId.address }}"></preload-image>
    <div class="button-bar">
        <button ion-button primary (tap)="call(booking.storeId.phone)">
            <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button primary (tap)="sendMail(booking.storeId.email)">
            <ion-icon name="mail"></ion-icon>
        </button>
        <button ion-button primary (tap)="openInAppBrowser(booking.storeId.website)">
            <ion-icon name="globe"></ion-icon>
        </button>
    </div>

    <ion-row>
        <ion-col width-100>
            <h3 class="booking-store-name">{{booking.storeId.name}}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-100>
            <p class="booking-store-address">{{booking.storeId.formattedAddress}}</p>
        </ion-col>
    </ion-row>

    <ion-row class="booking-action" [hidden]="isHistory">
        <ion-col width-50>
        <button ion-button round block class="booking-cancel" color="danger" (tap)="showConfirm()"> Cancel
        </button>
    </ion-col>
        <ion-col width-50>
            <button ion-button round block class="booking-modify" (tap)="goToBooking()"> Modify</button>
        </ion-col>
    </ion-row>
</ion-content>

