booking-detail {
  .booking-image-heading {
    height: 25%;
    background-size: 100% 100%;
  }
  .ionButtons{
    width: 100%;
    .backBtn {
      left: 0;
      position: absolute;
    }
    position: absolute;
    right: 0;
    background: transparent;
    button {
      background: transparent !important;
      box-shadow: none !important;
    }
  }
  .booking-date {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  .booking-title {
    text-align: center;
    margin: 0;
    max-width: 80%;
    margin: auto;
  }
  .booking-store-desc {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 10px;
    margin-bottom: 10px;
    max-height: 100px;
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-overflow: ellipsis;
  }
  .booking-store-name {
    text-align: center;
    margin: 10px 0 0 0;
  }
  .booking-store-address {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .button-bar {
    @include display(flex);
    margin: 6px 0px;

    & > .button {
      @include segment-text-styles(color($colors, button-alt, base));
      background-color: color($colors, button-alt, contrast);
      margin: 0px;
      border-radius: 0px;
      @include flex(1);

      &::after {
        content: '';
        background-color: $white-c;
        width: 2px;
        @include calc(height, "100% - 20px");
        margin: 10px 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 0.6;
      }

      &:last-child {
        &::after {
          content: initial;
        }
      }

      ion-icon {
        font-size: 2.2em;
      }
    }
  }
  .booking-card{
    // margin: 12px 0 12px 0 !important;
    // width: 100% !important;
  }

  .booking-modify{
    background-color: $theme-color-1;
  }
  .booking-cancel{
  }
}