<ion-header class="privacy-header legal-header">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (tap)="dismiss()">
        <span showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Privacy Policy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="privacy-content legal-content">
<div>
  <div class='grayText'><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></div>
   <br />
   <div class='innerText'>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number  or other details to help you with your experience.</div>
   <br>
   <div class='grayText'><strong>When do we collect information?</strong></div>
   <br />
   <div class='innerText'>We collect information from you when you register on our site or enter information on our site.</div>
   <br> <span id='infoUs'></span><br>
   <div class='grayText'><strong>How do we use your information? </strong></div>
   <br />
   <div class='innerText'> We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:<br><br></div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To allow us to better service you in responding to your customer service requests.</div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To follow up with them after correspondence (live chat, email or phone inquiries)</div>
   <span id='infoPro'></span><br>
   <div class='grayText'><strong>How do we protect your information?</strong></div>
   <br />
   <div class='innerText'>We do not use vulnerability scanning and/or scanning to PCI standards.</div>
   <div class='innerText'>An external PCI compliant payment gateway handles all CC transactions.</div>
   <div class='innerText'>We do not use Malware Scanning.<br><br></div>
   <div class='innerText'>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. </div>
   <br>
   <div class='innerText'>We implement a variety of security measures when a user places an order  to maintain the safety of your personal information.</div>
   <br>
   <div class='innerText'>All transactions are processed through a gateway provider and are not stored or processed on our servers.</div>
   <span id='coUs'></span><br>
   <div class='grayText'><strong>Do we use 'cookies'?</strong></div>
   <br />
   <div class='innerText'>We do not use cookies for tracking purposes </div>
   <div class='innerText'><br>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.<br></div>
   <br>
   <div class='innerText'>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that make your site experience more efficient and may not function properly.</div>
   <br><span id='trDi'></span><br>
   <div class='grayText'><strong>Third-party disclosure</strong></div>
   <br />
   <div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety. <br><br> However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. </div>
   <span id='trLi'></span><br>
   <div class='grayText'><strong>Third-party links</strong></div>
   <br />
   <div class='innerText'>We do not include or offer third-party products or services on our website.</div>
   <span id='gooAd'></span><br>
   <div class='blueText'><strong>Google</strong></div>
   <br />
   <div class='innerText'>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en <br><br></div>
   <div class='innerText'>We have not enabled Google AdSense on our site but we may do so in the future.</div>
   <span id='calOppa'></span><br>
   <div class='blueText'><strong>California Online Privacy Protection Act</strong></div>
   <br />
   <div class='innerText'>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.  The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. -  See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf<br></div>
   <div class='innerText'><br><strong>According to CalOPPA, we agree to the following:</strong><br></div>
   <div class='innerText'>Users can visit our site anonymously.</div>
   <div class='innerText'>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.<br></div>
   <div class='innerText'>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</div>
   <div class='innerText'><br>You will be notified of any Privacy Policy changes:</div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy Page<br></div>
   <div class='innerText'>Can change your personal information:</div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By emailing us</div>
   <div class='innerText'><br><strong>How does our site handle Do Not Track signals?</strong><br></div>
   <div class='innerText'>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place. </div>
   <div class='innerText'><br><strong>Does our site allow third-party behavioral tracking?</strong><br></div>
   <div class='innerText'>It's also important to note that we do not allow third-party behavioral tracking</div>
   <span id='coppAct'></span><br>
   <div class='blueText'><strong>COPPA (Children Online Privacy Protection Act)</strong></div>
   <br />
   <div class='innerText'>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control.  The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.<br><br></div>
   <div class='innerText'>We do not specifically market to children under the age of 13 years old.</div>
   <span id='ftcFip'></span><br>
   <div class='blueText'><strong>Fair Information Practices</strong></div>
   <br />
   <div class='innerText'>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.<br><br></div>
   <div class='innerText'><strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong></div>
   <div class='innerText'>We will notify you via email</div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 1 business day</div>
   <div class='innerText'><br>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</div>
   <span id='canSpam'></span><br>
   <div class='blueText'><strong>CAN SPAM Act</strong></div>
   <br />
   <div class='innerText'>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.<br><br></div>
   <div class='innerText'><strong>We collect your email address in order to:</strong></div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Send information, respond to inquiries, and/or other requests or questions</div>
   <div class='innerText'><br><strong>To be in accordance with CANSPAM, we agree to the following:</strong></div>
   <div class='innerText'><strong><br>If at any time you would like to unsubscribe from receiving future emails, you can email us at</strong></div>
   and we will promptly remove you from <strong>ALL</strong> correspondence.
</div>
<br><span id='ourCon'></span><br>
<div class='blueText'><strong>Contacting Us</strong></div>
<br />
<div class='innerText'>If there are any questions regarding this privacy policy, you may contact us using the information below.<br><br></div>
<div class='innerText'>https://bookinst.com.au</div>
<div class='innerText'>+61430783508</div>
<div class='innerText'><br>Last Edited on 2017-06-14</div>
</ion-content>
