@mixin call-to-action-button-styles($background, $color){
	border-radius: 0px;
	color: $color;
	background-color: $background;
	font-size: 1.6rem;
	font-weight: 500;
  height: 48px;
}

@import "./segment";
