@mixin segment-text-styles($color){
	font-size: 1.6rem;
	font-weight: 500;
	color: $color;
	letter-spacing: 0.2px;
	text-align: center;
}

@mixin segment-button-styles($active-color){
	.segment-button
	{
		border-radius: 0px;
		border: none;

		&:not(:last-child)
		{
			border-right: solid 2px rgba($white-d, .3);
		}

		&.segment-activated
		{
			color: $active-color;
			background-color: transparent;
		}
	}
}

@mixin segment-button-styles-native($active-color){
	.segment-button
	{
		border-radius: 0px;
		border: none;
		color: $theme-color-2 !important;
		&:not(:last-child)
		{
			border-right: solid 2px rgba($white-d, .3);
		}

		&.segment-activated
		{
			color: #fff !important;
			background-color: transparent;
		}
	}
}

@mixin segment-button-ios-styles(){
	.segment-button
	{
		&:hover:not(.segment-activated)
		{
			background-color: transparent;
		}
	}
}

@mixin segment-button-wp-styles(){
	.segment-button
	{
		flex: 1;
	}
}
