<ion-header>
    <ion-navbar>
        <ion-buttons left >
            <button ion-button (tap)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Filter</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-icon color="primary" item-left name="options"></ion-icon>
        <ion-label>Industry</ion-label>
        <ion-multi-picker [(ngModel)] = "industryId" item-content [multiPickerColumns]="industries"></ion-multi-picker>
    </ion-item>

    <ion-item>
        <ion-icon color="primary" item-left name="navigate"></ion-icon>
        <ion-label>Distance</ion-label>
    </ion-item>
    <ion-segment class="user-content-segment" [(ngModel)]="distance" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="1" (ionSelect)="onSegmentSelected($event)">
            1km
        </ion-segment-button>
        <ion-segment-button value="5" (ionSelect)="onSegmentSelected($event)">
            5km
        </ion-segment-button>
        <ion-segment-button value="15" (ionSelect)="onSegmentSelected($event)">
            15km
        </ion-segment-button>
        <ion-segment-button value="40" (ionSelect)="onSegmentSelected($event)">
            40km
        </ion-segment-button>
        <ion-segment-button value="" (ionSelect)="onSegmentSelected($event)">
            all
        </ion-segment-button>
    </ion-segment>


</ion-content>