<ion-header class="signup-header auth-header">
  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
  <h2 class="auth-title">Create an account</h2>
  <form class="signup-form auth-form" [formGroup]="signup" (ngSubmit)="doSignup()">

    <div class="sign-up-first">
      <ion-item class="sign-up-name">

        <ion-input type="text" placeholder="First Name" formControlName="firstname" ></ion-input>
      </ion-item>
      <ion-item class="sign-up-name">
        <ion-input type="text" placeholder="Last Name" formControlName="lastname"></ion-input>

      </ion-item>
    </div>

    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Confirm password" formControlName="confirm_password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <button ion-button block id="signup-button" class="auth-action-button signup-button" type="submit" [disabled]="!signup.valid">Sign up</button>
  </form>
  <p class="legal-stuff">
    By creating an account you agree to our <a class="legal-action" (tap)="showPrivacyModal()">Privacy policy</a> and <a class="legal-action" (tap)="showTermsModal()">Terms of use</a>
  </p>
</ion-content>
