signup-page {
	.signup-content
	{
		.legal-stuff
		{
			color: $white-d;
			text-align: center;
			margin: 10px 12px;
			position: absolute;
			bottom: 0;
			left: 0;
			.legal-action
			{
				font-weight: 500;
				color: $theme-color-2;
			}
		}
	}
	.sign-up-first{
		display:flex;
		justify-content: space-between;
	}
	.sign-up-name{
		width:45%;
	}
}
